body {
   box-sizing: border-box;
   font-family: "Roboto", sans-serif;
}

.header {
   background: #635854;
   border-bottom: 4px solid #3596f5;
   padding: 10px 0;
}

.navbar {
   max-width: 1310px;
   margin: 0 auto;
   padding: 0 15px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.logo-link {
}
.navbar-nav {
}
.navbar-menu {
   display: flex;
   list-style: none;
   padding: 0;
   margin: 0;
}
.navbar-menu li {
   max-width: 140px;
   text-align: center;
   margin: 0 40px;
}
.navbar-menu__link {
   text-decoration: none;
   color: #fff;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 19 / 16 * 100%;
}
.navbar-contacts {
}
.navbar-contacts__descr {
   font-size: 14px;
   font-style: normal;
   font-weight: 400;
   line-height: 16 / 14 * 100%;
   color: #fff;
   text-align: right;
}
.navbar-contacts__phone {
   font-size: 17px;
   font-style: normal;
   font-weight: 700;
   line-height: 20 / 17 * 100%;
   color: #fff;
}

.main {
   max-width: 1310px;
   margin: 0 auto;
   padding: 0 15px;
   padding-top: 54px;
   display: flex;
}
.home-image path {
   opacity: 0;
   cursor: pointer;
   transition: all 0.1s ease;
}

.home-image path:hover {
   opacity: 1;
}

.main-info {
   flex: 1 0 auto;
   text-align: center;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
}
.main-title {
   font-size: 37px;
   font-style: normal;
   font-weight: 400;
   line-height: 44 / 37 * 100%;
   color: #635854;
   text-transform: uppercase;
}
.counter-group {
   display: flex;
   flex-direction: column;
   align-items: center;
}
.counter-button {
   background-color: #fff;
   border: none;
   cursor: pointer;
}
.counter-up {
}

.counter {
   font-size: 70px;
   font-weight: 700;
   color: #635854;
   padding: 15px 0;
}
.counter-down {
   transform: rotateX(180deg);
}
.button-primary {
   background: #3596f5;
   border-radius: 6px;
   color: #fff;
   cursor: pointer;
   border: none;
   padding: 15px 35px;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 19 / 16 * 100%;
}

path.current-floor {
   opacity: 1;
}
